
html{
    filter: blur(0px);
}
body{
    filter: blur(0px);
   
}
.cardFather{
    margin-top: 6rem;
    margin-left: 2rem;
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#header{
    font-weight: bolder;
    
}
#txt{
    height: 100px;
    width: 600px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center
}
